
.box {
    display:flex;
    flex-direction: column;
}

.pointer {
    cursor: pointer;
}

.listFilmRow{
    display:flex;
    justify-content: space-around;
}

.link {
    cursor:pointer;
    color:blue;
    text-decoration:underline;
}
