<div class="box">
    <div>
        <span>{{title}}</span>
    </div>
    <div>
        <input type="search"  [(ngModel)]="search"> 
        <span>Search</span>
    </div>
    <div>        
        <div class="listFilmRow">
            <h2>Title</h2>
            <h2>Director</h2>
            <h2>Release date</h2>
        </div>
        <li *ngFor="let film of filmsInPage | filter:search">
            <div class="listFilmRow">
                <span>{{film.title}}</span>
                <span>{{film.director}}</span>
                <span>{{film.release_date}}</span>
            </div>
        </li>
    </div> 
    <div>  
        <span>Page {{currentPage}} out of {{lastPage}} ...</span>
        <span *ngIf="currentPage > 1" class="pointer" (click)="firstPage()"> << </span>
        <span *ngIf="currentPage > 1" class="pointer" (click)="previousPage()"> < </span>
        <span> {{currentPage}}</span>
        <span *ngIf="currentPage < lastPage" class="pointer" (click)="nextPage()"> > </span>
        <span *ngIf="currentPage < lastPage" class="pointer" (click)="endPage()"> >> </span>
    </div> 
</div>